* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
:root {
    /* Font sizes */
    --fs-large: 3.25rem;
    --fs-med: 2.25rem;
    --fs-small: 1.125rem;

    /* Font weight*/
    --fw-reg: 300;
    --fw-bold: 700;
    

    /* Colors */
    --clr-lightgrey: #7F8487;
    --clr-ivory: #f1f1f1;
    --clr-brightblue: #34B3F1;
    --clr-red: #DA1212;
    --clr-white: #ffffff;


    /* Margins */
    --container: 25px 50px;

    /* paddings */
}

/* Utility Classes */
.container {
    width: 100%;
    height: 600px;
}

.form__group {
    margin-bottom: 15px;
}

.form__label {
    margin-bottom: 15px;
}
.form__field {
    width: 100%;
    display: block;
    padding: 4px;
    border: 1px solid var(--clr-lightgrey);
    border-radius: 5px;
}

.form__btn {
    padding: 10px 20px;
    border-radius: 5px;
}

/* Buttons */
.btn__submit {
    background-color: var(--clr-brightblue);
    color: var(--clr-white);
}

/* Navbar */
nav {
    width: 100%;
    height: 100px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: var(--fs-large);
}

.nav__logo--subtitle {
    font-size: var(--fs-med);
    color: var(--clr-lightgrey);
}

.nav__links--container {
    display: flex;
    align-items: center;
    
}

.nav__links--link {
    text-decoration: none;
    color: var(--clr-brightblue);
    margin: 15px;
}

/* AddNoteForm Component */

.addNoteForm__container{
    padding: 15px 50px;
}
.addNoteForm {
    text-align: left;
}

.addNoteForm__description {
    margin-bottom: 10px;
}

/* Notes Section */

.container__notes {
    overflow-y: scroll;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.note__item {
    max-width: 33vw;
    border: 1px solid var(--clr-ivory);
    border-radius: 5px;
    text-align: left;
    margin-bottom: 15px;
}

.note__item--title {
    font-weight: var(--fw-bold);
    background-color: var(--clr-ivory);
    padding: 15px;
}

.note__item--body {
    padding: 15px;
}

.note__item--links__container {
    background-color: var(--clr-ivory);
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    
}

.note__item--link {
    text-decoration: none;
    margin-right: 50px;
}

.link__container--left {
    width: 100%;
    text-align: left;
}

.note__item--link--edit {
    color: var(--clr-brightblue);
    
}
.link__container--right {
    width: 100%;
    text-align: left;
}
.note__item--link--delete {
    color: var(--clr-red);
    
}

